*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 221, 238);
}

.shell{
    /*Set up the grid layout first*/
    display: grid;
    padding: 20px;
    /*Define the size of the gap between rows and columns in the grid layout*/
    grid-gap: 20px;
    /*This property specifies the number and width of columns in the grid layout*/
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /*Set the default size of rows in the grid*/
    grid-auto-rows: 270px;
    /*The property controls the insertion of automatically placed items in the grid as filled*/
    grid-auto-flow: dense;
}

.shell>div{
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.shell span{
    color: rgb(139, 216, 244);
    font: 100 100px 'Kristen ITC';
    position: absolute;
    top: -10px;
    left: 20px;
    /*Add a shadow to the text*/
    text-shadow: -2px 0 rgb(0, 0, 0),0 -2px rgb(0, 0, 0),2px 0 rgb(0, 0, 0),0 2px rgb(0, 0, 0);
}

.shell .wide{
    grid-column: span 2;
}

.shell .tall{
    grid-row: span 2;
}

.shell .big{
    grid-column: span 2;
    grid-row: span 2;
}